[include buzzer_presets.cfg]
#————————————————————————————————————————| WIPER |————————————————————————————————————————#

# [servo wipe_servo]
# pin: rpi:gpio27
# maximum_servo_angle: 180
# minimum_pulse_width: 0.0005
# maximum_pulse_width: 0.0025
# initial_angle: 0

#————————————————————————————————————————| LEDS |————————————————————————————————————————#

[neopixel toolhead_leds]
pin: rpi:gpio10
chain_count: 3

[output_pin lightbar]
pin: rpi:gpio16        # Pin
pwm: True              # Allow dimming
cycle_time: 0.004      # 250 Hz PWM
value: 0.25            # Start at 25% brightness
shutdown_value: 0.0    # End OFF