[heater_bed]
heater_pin: PB9
sensor_type: EPCOS 100K B57560G104F  # Stock fw config, seems to report the correct temps.
#sensor_type: Generic 3950 (NTC 100K)
sensor_pin: PC1
min_temp: 0
max_temp: 120

[bed_mesh]
speed: 180
horizontal_move_z:  3 # increase this value to avoid the error "probe triggered prior to movement."
mesh_min: 32, 26
mesh_max: 189, 189
probe_count: 4, 4
zero_reference_position: 113.5, 118.5  # This should be the same location where Z_ENDSTOP_CALIBRATE is performed.
mesh_pps: 3, 3
algorithm: bicubic
bicubic_tension: 0.2

[screws_tilt_adjust]  # Activate this if you're using adjustable spacers (springs/silicone) for the bedmount instead of the rigid stock ones. From the docs: "Tool to help adjust bed screws tilt using Z probe. One may define a screws_tilt_adjust config section to enable a SCREWS_TILT_CALCULATE g-code command."
screw1: -6, 24
screw1_name: Front Left ↙
screw2: 157, 24
screw2_name: Front Right ↘
screw3: 157, 188
screw3_name: Rear Right ↗
screw4: -6, 188
screw4_name: Rear Left ↖
horizontal_move_z: 10
speed: 50
screw_thread: CCW-M4 #most likely - not 100% sure yet though