# plr-klipper update_manager entry
[update_manager YUMI_PLR]
type: git_repo
path: ~/YUMI_PLR
origin: https://github.com/Yumi-Lab/Yumi_PLR.git
primary_branch: main
system_dependencies: system_dependencies.json
is_system_service: False
managed_services: klipper

