[gcode_macro UNDOCK_PROBE]
description: Pick up ZeroClick probe
variable_clear_y: -24.0
variable_dock_x: 0.0
variable_pickup_z: 0.0
variable_pickup_x: 22.0
variable_safe_z: 5.0

gcode:
    G90

    # Home first
    G28

    # Move bed/toolhead out of the way
    G1 Y{clear_y} F3000

    # Move to dock
    G1 X{dock_x} F3000

    # Lower close to the dock
    G1 Z{pickup_z} F1000

    # Move through the probe pickup position
    G1 X{pickup_x} F1000

    # Lift probe clear of the dock
    G1 Z{safe_z} F1000