[gcode_macro ATTACH_PROBE]
description: Pick up ZeroClick probe
variable_probe_attached: False
variable_clear_y: -24.0
variable_dock_x: -1.0
variable_pickup_z: 8.0
variable_pickup_x: 22.0
variable_safe_z: 15.0

gcode:
    {% set clear_y = printer["gcode_macro ATTACH_PROBE"].clear_y %}
    {% set dock_x = printer["gcode_macro ATTACH_PROBE"].dock_x %}
    {% set pickup_z = printer["gcode_macro ATTACH_PROBE"].pickup_z %}
    {% set pickup_x = printer["gcode_macro ATTACH_PROBE"].pickup_x %}
    {% set safe_z = printer["gcode_macro ATTACH_PROBE"].safe_z %}

    {% if printer["gcode_macro ATTACH_PROBE"].probe_attached %}
        RESPOND MSG="Probe already attached - skipping pickup"
    {% else %}
        G90
        SMARTHOME

        G1 Y{clear_y} F3000
        G1 X{dock_x} F3000
        G1 Z{pickup_z} F1000
        G1 X{pickup_x} F1000
        G1 Z{safe_z} F1000

        SET_GCODE_VARIABLE MACRO=ATTACH_PROBE VARIABLE=probe_attached VALUE=True
        RESPOND MSG="Probe attached"
    {% endif %}


[gcode_macro DOCK_PROBE]
description: Return ZeroClick probe to dock
variable_clear_y: -24.0
variable_dock_x: 0.0
variable_dock_z: 8.0
variable_release_x: 23.0
variable_safe_z: 10.0

gcode:
    {% set clear_y = printer["gcode_macro DOCK_PROBE"].clear_y %}
    {% set dock_x = printer["gcode_macro DOCK_PROBE"].dock_x %}
    {% set dock_z = printer["gcode_macro DOCK_PROBE"].dock_z %}
    {% set release_x = printer["gcode_macro DOCK_PROBE"].release_x %}
    {% set safe_z = printer["gcode_macro DOCK_PROBE"].safe_z %}

    G90

    G1 Z{safe_z} F1000
    G1 Y{clear_y} F3000
    G1 X{release_x} F3000
    G1 Z{dock_z} F1000
    G1 X{dock_x} F1000
    G1 Z{safe_z} F1000

    SET_GCODE_VARIABLE MACRO=ATTACH_PROBE VARIABLE=probe_attached VALUE=False
    RESPOND MSG="Probe docked"


[gcode_macro UPDATE_PROBE_STATE]
description: Detect ZeroClick probe state at startup

gcode:
    QUERY_PROBE

    {% if printer.probe.last_query %}
        # TRIGGERED = probe is not attached
        # (or its click switch is currently pressed)
        SET_GCODE_VARIABLE MACRO=ATTACH_PROBE VARIABLE=probe_attached VALUE=False
        RESPOND MSG="Probe state: NOT ATTACHED / TRIGGERED"
    {% else %}
        # OPEN = probe is attached and click switch is released
        SET_GCODE_VARIABLE MACRO=ATTACH_PROBE VARIABLE=probe_attached VALUE=True
        RESPOND MSG="Probe state: ATTACHED / OPEN"
    {% endif %}


[delayed_gcode INIT_PROBE_STATE]
initial_duration: 2.0
gcode:
    UPDATE_PROBE_STATE